.modal {
  width: 500px;
  top: calc(50vh - (200px / 2));
  left: calc(50vw - (500px / 2));
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  position: fixed;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

.name-input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border: 1px solid black;
  outline: none;
}

.name-button {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #3885af;
  border: none;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}
